<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Registro</title>
</head>
<body>
    <h1>Eliminar Registro</h1>
    <p>Esta seguro que quiere eliminar el registro?</p>
    <ul>
        <li>Nombre: {{ e.nombre }}</li>
        <li>Apellido: {{ e.apellido }}</li>
        <li>Edad: {{ e.edad }}</li>
        <li>Grado: {{ e.grado }}</li>



    </ul>
<form action="" method="post">
<button type="submit">Si, eliminar definitivo.</button>
</form>

<a href="/"> Inicio </a>
    
</body>
</html>