<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrados.</title>
    <link rel="stylesheet" href="/static/estilo.css">
</head>
<body>
    <h1>Listado de Estudiantes Registrados.</h1>
{% with mensajes = get_flashed_messages(with_categories=true) %}
    {% if mensajes %}
        <ul>
        {% for categoria, mensaje in mensajes %}
            {% if categoria == 'error' or categoria == 'exito' %}
                <li class="alerta {{ categoria }}">{{ mensaje }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}


    <table>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Grado</th>



        </tr>

    {% for e in estudiantes %}
    <tr>
        <td>{{ e.nombre }}</td>
        <td>{{ e.apellido }}</td>
        <td>{{ e.edad }}</td>
        <td>{{ e.grado }}</td>
    <td>
        <a href="/editar/{{ e.id }}">Editar</a>
        <a href="/eliminar/{{ e.id }}">Eliminar</a>

    </td>
</tr>
{% endfor %}
    </table>
</body>
</html>