/* con margen y padding 0px volvemos a 0 la configiracion inicial de todos los navegadores.*/

*{
margin:0;/*le saco los margnes que trae por configuracion los navegadores.*/
padding:0;/* le saco el espacio entre el contensido de la caja y su borde.*/
box-sizing: border-box;/*propiedad que no agrega espacio demas a mis cajas.*/

}




body{
    font-family: Arial, sans-serif;
    padding: 30px;
    background-color: #f5f5f5f5;

}
h1{
    text-align: center;
    color:#333;
}
form{
padding: 25px;
border-radius: 10px;
margin:auto;
width: 450px;/*ancho de la caja*/


}
label{
    font-weight: bold;
}
input{
width: 90%;
border: 2px solid black;
border-radius: 5px;
height: 28px;

}
button{
border: none;
border-radius: 10px;
padding:10px;
color:white;
background-color: #007bff;

}

button:hover{
background-color: #f5f5f5f5;
color: #007bff;


}

a{

text-decoration: none;


}