body{
    font-family: Arial, sans-serif;
    padding: 30px;
}
h1{
    text-align: center;
    color:#333;
}
form{
padding: 25px;
border-radius: 10px;
margin:auto;


}
label{
    font-weight: bold;
}
input{
width: 90%;

}
button{
border: none;
border-radius: 10px;
padding:10px;
color:white;
background-color: #007bff;

}