<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi sitio flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}"> 
</head>
<body>
    <h1>Alumnos del curso de Python</h1>
    <ul>
    {% for a in alumnos %}
        <li>
            {{ a.nombre }}- Nota: {{ a.nota }}
            {% if a.nota >= 7 %}
            Usted esta aprobado.
            {% else %}
            No estas aprobado.
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</body>
</html>